{% extends 'layout.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block content %}
    
    <h3>All Posts by {{ user.username }}</h3>

    <div class="posts">

        {% for post in user.posts %}

            <div class="post">
                <h5>Posted By: <a href="/user/{{ post.user }}">{{ post.user }}</a></h5>
                <p>{{ post.content }}</p>
                <p>{{ post.content|length }}/280 characters</p>
            </div>
        
        {% endfor %}

    </div>

{% endblock %}